body,html{
    height: 100%;
    width: auto;
    margin: 0%;
    padding: 0%;


}
.back{
    display: flex;
    background-color: black;
    height: 300%;
    width: 100%;
    position: absolute;
    

}
.logo{
    top: 8px;
    left: 20px;
    position: absolute;
}
.navi{
    top: 14px;
    color: aliceblue;
    font-size: 18px;
    font-family: 'Times New Roman', Times, serif;
    text-decoration: none;
    position: absolute;
}

#Home{
    left: 650px;
}    
#Courses{
    left: 740px;
    color: rgba(255, 255, 255, 0.59);
}
#Courses:hover, Courses:active{
    color: aliceblue;
}

#Students{
    left: 850px;
    color: rgba(255, 255, 255, 0.59);
}
#Students:hover{
    color: aliceblue;
}
#About:hover{
    color: aliceblue;
}

#About{
    left: 1000px;
    color: rgba(255, 255, 255, 0.59);
}

#Login{
    left: 1450px;
    border: 1px solid blue;
    border-radius: 8px;
    padding-left: 32px;
    padding-right: 32px;
    padding-top: 8px;
    padding-bottom: 9px;
} 
#Signin{
    left: 1552px;
    border: 1px solid blue;
    border-radius: 8px;
    padding-left: 32px;
    padding-right: 32px;
    padding-top: 8px;
    padding-bottom: 9px;
    background-color: blue;
}
#Signin:hover{
    background-color: blue;
    color: red;
}
#Login:hover{
    background-color: blue;
    color: aqua;
}
.imaaa{
    position: absolute;
    top: 595px;
    left: 1400px;
    padding-top: 8px;
    padding-left: 280px;
    padding-right: 0px;
    padding-bottom: 60px;
    border: 1px solid rgba(106, 0, 255, 0.862);
    border-radius: 0px;
    background-color: rgba(149, 0, 255, 0.804);
    filter: blur(98px);
}
.imaaaa{
    position: absolute;
    top: 590px;
    left: 1px;
    padding-top: 8px;
    padding-left: 80px;
    padding-right: 90px;
    padding-bottom: 100px;
    border: 1px solid rgba(255, 0, 212, 0.653);
    border-radius: 0px;
    background-color: rgba(0, 110, 255, 0.689);
    filter: blur(98px);
}
.imai{
    position: absolute;
    top: 38px;
    left: 1490px;
    padding-top: 15px;
    padding-left: 80px;
    padding-right: 100px;
    padding-bottom: 100px;
    border: 1px solid rgba(255, 0, 212, 0.653);
    border-radius: 0px;
    background-color: rgba(0, 110, 255, 0.689);
    filter: blur(100px);
}

.imaa{
    position: absolute;
    top: 300px;
    left: 200px;
    padding-top: 250px;
    padding-left: 280px;
    padding-right: 1px;
    padding-bottom: 10px;
    border: 1px solid blue;
    border-radius: 250px;
    background-color: rgb(14, 0, 209);
    filter: blur(70px);


}
.ima{
    position: absolute;
    width: 150px;
    height: 120px;
    top: 290px;
    left: 200px;
    padding-top: 20px;
    padding-left: 30px;
    padding-right: 8px;
    padding-bottom: 10px;
    filter: brightness(2px);


}
.head{
    position: absolute;
    color: aliceblue;
    font-family: 'Times New Roman', Times, serif;
}
#up{
    left: 625px;
    top: 250px;
    font-size: 50px;
}
#dow{
    left: 650px;
    top: 292px;
    font-size: 46px;
}
mark{
    color: rgba(0, 0, 255, 0.895);
    background-color: black;
}
#Exploure{
    top: 390px;
    left: 870px;
    position: absolute;
    background-color: blue;
    color: aliceblue;
    padding: 15px;
    border-radius: 23px;
    text-decoration: none;
}
#Exploure:hover{
    color: aqua;
}
#first{
    top: 900px;
    left: 500px;
    position: absolute;
    color: aliceblue;
    font-size: 42px;
}
#second{
    top: 945px;
    left: 530px;
    position: absolute;
    color: aliceblue;
    font-size: 40px;
}
#sec{
    color: rgba(137, 43, 226, 0.927);
    background-color: black;
}
#secc{
    color: rgba(0, 255, 255, 0.747);
    background-color: black;
}
.course{
    position: absolute;
    left: 220px;


}

#Co{
    top: 1100px;
    -moz-box-shadow: inset 10px 10px 50px #fff;
    -webkit-box-shadow: inset 10px 10px 50px #fff;
    box-shadow: inset 10px 10px 50px #fff;
    box-sizing: border-box;
   
}

#B{
    top: 1379px;
}
.boxx{
    background-color: rgba(107, 109, 109, 0.433);
    width: 200px;
    height: 250px;
    position: absolute;
    top: 1100px;
    left: 800px;
    
}


